.text-control {
    color:yellow;
    background-color: black;
    text-align: center;
}

.border1 {
    border: 5px solid pink;
}

.img-size {
    width: 500px;
    height: 280px;
}
.margin1 {
    margin-top: 1%;
    margin-left: 30%;
}
.padding1 {
    padding-top: 40px;
}